WEBUI_SECRET_KEY="butbmj8+XroBT9fCu7YrRTHgGD/lohXYb/9ELCUjGSJpUGPipOOPFROzZrlTHmnt"

#rag
RAG_EMBEDDING_MODEL=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
RAG_EMBEDDING_BATCH_SIZE=8
RAG_RERANKING_MODEL=hotchpotch/japanese-reranker-tiny-v2
CHUNK_SIZE=500
